.background {
  background: rgb(0,255,127);
  table-layout: fixed;
  border-spacing: 0;
 margin-left: 2%;
}
.background td {
  padding: 0;
}
.lava {
  background: rgb(255, 100, 100);
}
.wall {
  background: gray;
}

.actor {
  position: absolute;
}
.coin {
  background: gold;
}
.player {
  background: black;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  overflow: hidden;
  max-width: 1500px;
  max-height: 600px;
  position: relative;
}
